@import "tailwindcss";

:root {
  --background: #020012;
  --foreground: #171717;
  --tw3blue: #58ace4;
  --tw3grey: #525768;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* cache le tag hôte et tout son contenu shadow */
nextjs-portal {
  display: none;
}

.flexJIC {
	@apply flex justify-center items-center;
}

.hover-link {
  @apply h-10 w-full border-b-2 border-transparent hover:border-white transition-colors duration-400 whitespace-nowrap;
}

.bg-tw3-gradient {
  /* de bas en haut → direction : to top */
  background: linear-gradient(
    to top,
    rgb(51 98 168) 0%,   /* bas */
    rgb(5 4 21) 100%     /* haut */
  );
}

.tw3-typing-loader {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  height: 18px;
  margin-left: 12px;
}
.tw3-typing-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #2460a7;  /* ou la couleur de ton thème */
  border-radius: 50%;
  animation: tw3-bounce 1s infinite;
}
.tw3-typing-loader span:nth-child(2) { animation-delay: 0.2s; }
.tw3-typing-loader span:nth-child(3) { animation-delay: 0.4s; }

@keyframes tw3-bounce {
  0%, 100%   { transform: translateY(0); }
  50%        { transform: translateY(-8px);}
}